* {
  min-height: 0;
  font-family: Noto Sans Mono;
  font-size: 12px;
  font-weight: 500;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #181825;
  opacity: 0.8;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 5px 5px;
  min-height: 0;
  margin: 0px 0px;
  border-radius: 0px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-power,
#cpu,
#tray,
#window,
#battery,
#memory {
  min-height: 0;
  padding: 1px 10px;
  border-radius: 0px;
  margin: 0px 4px;
  background-color: #181825;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #89b4fa;
}

#clock.date {
  color: #74c7ec;
}

#window {
  color: #a6e3a1;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#battery {
  color: #a7adc8;
}

#battery.critical {
  color: #ff0000;
}

#custom-power {
  color: #f38ba8;
  padding-right: 8px;
  font-size: 14px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

tooltip {
  border-radius: 0px;
}
